<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <meta property="og:description" content="Solve the Jumble by unscrambling the anagram. A new puzzle is released each day.">
    <meta property="description" content="Solve the Jumble by unscrambling the anagram. A new puzzle is released each day.">
    <meta property="og:url" content="https://www.jumble-game.co.uk">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
    <!--    <script defer src="/app/bundle.js"></script>-->
</head>
<body>

<div id="root"></div>
</body>
</html>
